* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: 0 auto;

    /*automatically center me a jata ha */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .brand {
            font-size: 20px;
            font-weight: bold;
        }

        .nav-links {
            display: flex;
            gap: 32px;
            align-items: center;

            a {
                font-size: 20px;
                text-decoration: none;
                color: black;
                padding-top: 12px;
            }
        }
    }

    .hero {
        display: flex;
        justify-content: space-between;

        .hero-text {
            h1 {
                font-size: 60px;
                color: black;

            }

            p {
                font-size: 24px;
                padding: 10px;
                text-align: center;
            }
        }

        img {
            max-width: 469px;
            width: 100%;
            border-radius: 64px;
        }
    }

    .blog-cards {
        display: grid;
        padding-top: 48px;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .card {
            width: 300px;
            height: 392px;
            background-color: white;

            img {
                border-radius: 20px;
                width: 100%;
                height: 179px;
                object-fit: cover;
                border-radius: 10px;
            }

            h2 {
                font-size: 20px;
                padding: 18px 16px;
            }

            p {
                font-size: 14px;
                padding: 15px 16px;
            }

            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;

                .date {
                    font-size: 12px;
                    color: #718096;
                }

                .read-more {
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: opacity 0.9;

                    &:hover {
                        opacity: 0.7;
                    }

                }
            }
        }
    }

}